*.log
._*
scripts/_*
tmp/
reference_genomes/ 
test/
more_genomes/
bowtie-1.1.2/
test_genomes.py
profiling_other_taxonomic_level.py
scripts/reference_genomes_ftp.txt
to_download.sh
scripts/static/results*
resultsTag.txt
reference_genomes*
sortedgenomes.txt
scripts/static/jsontree*
scripts/static/sortedgenomes*